<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>0B085F59-A748-458D-B0F9-408847B20112</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>user</string>
			<key>text</key>
			<string>ks user</string>
			<key>url</key>
			<string>https://admin.p.adm-corp.kuaishou.com/frontend/archives/index.html#/archives/user/profile?userId={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
