<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kuaishou.websites</string>
	<key>connections</key>
	<dict>
		<key>1A8D9D20-4ED6-4E42-AAF0-4DE336F2103F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>44D4A221-01C3-4CF6-91FB-42F41FDDAEB5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>22CC5327-4B98-46EF-A166-E9BB5EE37449</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D93E5BD8-886A-4A7E-B921-5B939C6E410C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3D6DC838-1551-4BD5-91C5-6C7208E135DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A8D9D20-4ED6-4E42-AAF0-4DE336F2103F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>44D4A221-01C3-4CF6-91FB-42F41FDDAEB5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF2FD542-8651-4F63-881B-11934615EEE0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81DBAA0B-E63B-456F-8256-7D4ACD8C123B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2E07FBB-5CA9-4BFC-AF84-42C3A34C1242</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C532BBF4-8A59-4A55-A66D-A990E4B06F89</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>107B6A48-4C4D-4CBB-B727-8E87A81C363C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8ED47ED0-562F-4A7A-89FD-3379CC8F6419</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97E6F7DD-7AFA-4B08-90A3-6705ECC58808</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>97E6F7DD-7AFA-4B08-90A3-6705ECC58808</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>44BC5541-0A08-4C52-AB38-5922ABE19C03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF2FD542-8651-4F63-881B-11934615EEE0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81DBAA0B-E63B-456F-8256-7D4ACD8C123B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>工作常用网站</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Google Chrome" to set active tab index of first window to 2</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>44BC5541-0A08-4C52-AB38-5922ABE19C03</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>team</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Team</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8ED47ED0-562F-4A7A-89FD-3379CC8F6419</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Google Chrome.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>97E6F7DD-7AFA-4B08-90A3-6705ECC58808</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>grafana-search</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>C2E07FBB-5CA9-4BFC-AF84-42C3A34C1242</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:gra_url}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>107B6A48-4C4D-4CBB-B727-8E87A81C363C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

gra_type=$(echo $query | awk -F '::' '{printf "%s", $1}')
next_query=$(echo $query | awk -F '::' '{printf "%s", $2}')
if [[ $gra_type == "folder" ]]; then
	gra_folder_id=$next_query
else
	gra_url=$next_query
fi
#echo $gra_url
#echo $gra_type
echo "{\"alfredworkflow\":{\"variables\":{\"gra_url\":\"$gra_url\", \"gra_folder_id\":\"$gra_folder_id\", \"query\":\"$gra_type\"}}}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CF2FD542-8651-4F63-881B-11934615EEE0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>grafana-search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>3D6DC838-1551-4BD5-91C5-6C7208E135DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gra</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>查询中......</string>
				<key>script</key>
				<string>~/bin/ipython/bin/python3 ~/work/script/alfred/grafana.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Grafana 监控</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1A8D9D20-4ED6-4E42-AAF0-4DE336F2103F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>folder</string>
						<key>outputlabel</key>
						<string>{var:gra_folder_id}</string>
						<key>uid</key>
						<string>C532BBF4-8A59-4A55-A66D-A990E4B06F89</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>{var:gra_url}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>81DBAA0B-E63B-456F-8256-7D4ACD8C123B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>44D4A221-01C3-4CF6-91FB-42F41FDDAEB5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>file_name=$1
while read -r line
do
    url=$(echo "$line" | awk '{printf "%s",$2}')
    /usr/bin/open -a "/Applications/Google Chrome.app" "$url"
done &lt; $file_name</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D93E5BD8-886A-4A7E-B921-5B939C6E410C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>oncall</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>cat &lt;&lt; EOB
{"items": [
	{
		"title": "每日早会",
		"subtitle": "team",
		"arg": "/Users/yaokeqi/work/script/alfred/oncall/team_url.txt"
	},
	{
		"title": "同城巡检",
		"subtitle": "",
		"arg": "/Users/yaokeqi/work/script/alfred/oncall/nearby_oncall_url.txt"
	},
	{
		"title": "Server巡检",
		"subtitle": "",
		"arg": "/Users/yaokeqi/work/script/alfred/oncall/server_oncall_url.txt"
	}
]}
EOB</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>【Oncall】打开巡检的界面</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>22CC5327-4B98-46EF-A166-E9BB5EE37449</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>107B6A48-4C4D-4CBB-B727-8E87A81C363C</key>
		<dict>
			<key>xpos</key>
			<integer>745</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>1A8D9D20-4ED6-4E42-AAF0-4DE336F2103F</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>22CC5327-4B98-46EF-A166-E9BB5EE37449</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>3D6DC838-1551-4BD5-91C5-6C7208E135DF</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>44BC5541-0A08-4C52-AB38-5922ABE19C03</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>44D4A221-01C3-4CF6-91FB-42F41FDDAEB5</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>81DBAA0B-E63B-456F-8256-7D4ACD8C123B</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>8ED47ED0-562F-4A7A-89FD-3379CC8F6419</key>
		<dict>
			<key>xpos</key>
			<integer>15</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>97E6F7DD-7AFA-4B08-90A3-6705ECC58808</key>
		<dict>
			<key>xpos</key>
			<integer>175</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>C2E07FBB-5CA9-4BFC-AF84-42C3A34C1242</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>CF2FD542-8651-4F63-881B-11934615EEE0</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>D93E5BD8-886A-4A7E-B921-5B939C6E410C</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
