<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>18EF6E7D-2397-4039-B8F1-996441CFA140</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB238C44-594B-490C-B9DD-E6393374953E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1A86C1E9-D9C0-4FE3-8BF9-0F7A60B55F34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E2F4533-9018-4BBC-9BEB-AFB8DCF9403C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>28CB48A4-2F01-4DCA-AB75-0DB8E060AB70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>18EF6E7D-2397-4039-B8F1-996441CFA140</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>34C74C0B-C29E-464D-A460-C0A44B2F2C8C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BDFAE14C-996A-4DFD-A028-7362DD133537</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>49147D5C-ECC1-4CCB-AE67-7281BB8AF014</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A86C1E9-D9C0-4FE3-8BF9-0F7A60B55F34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E2F4533-9018-4BBC-9BEB-AFB8DCF9403C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28CB48A4-2F01-4DCA-AB75-0DB8E060AB70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B035F1F6-5AE6-4D13-9B49-9480ED18AC19</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92DBBF42-2912-4E3E-968D-6FB54B9A56EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BDFAE14C-996A-4DFD-A028-7362DD133537</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>49147D5C-ECC1-4CCB-AE67-7281BB8AF014</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB238C44-594B-490C-B9DD-E6393374953E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B035F1F6-5AE6-4D13-9B49-9480ED18AC19</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>快速使用 Emacs 打开选中的文件path</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open file or edit with Emacs quickly</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>PATH=/usr/local/opt/coreutils/libexec/gnubin:/usr/local/opt/gnu-sed/libexec/gnubin:/Applications/calibre.app/Contents/MacOS:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/Apple/usr/bin:/usr/local/opt/coreutils/libexec/gnubin:/usr/local/opt/gnu-sed/libexec/gnubin:/Applications/calibre.app/Contents/MacOS:/usr/local/opt/fzf/bin

query="${select_text}"

default_file=~/work/emacs_default_buffer.txt

if [[ ${query} =~ ^[[:space:]]*~?/[[:graph:]]*$ ]]; then
	/usr/local/bin/emacsclient -c -s default -a "" $query
	echo -n "file"
	exit 0
fi

echo -n "${query}" &gt; $default_file
/usr/local/bin/emacsclient -c -s default -a "" $default_file &gt; /dev/null
cat $default_file | pbcopy
echo -n "text"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9E2F4533-9018-4BBC-9BEB-AFB8DCF9403C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>31</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>O</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>org.gnu.Emacs</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>34C74C0B-C29E-464D-A460-C0A44B2F2C8C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run
  set theQuery to "{query}"
  tell application theQuery
          activate
  end tell
end run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CB238C44-594B-490C-B9DD-E6393374953E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run
    tell application "System Events"
		set frontApp to name of first application process whose frontmost is true
         return frontApp
    end tell
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>49147D5C-ECC1-4CCB-AE67-7281BB8AF014</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>file</string>
						<key>outputlabel</key>
						<string>file</string>
						<key>uid</key>
						<string>D291E0BC-FEF1-40E6-9B73-D715D12EF0EA</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>text</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B035F1F6-5AE6-4D13-9B49-9480ED18AC19</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>last_app_name</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1A86C1E9-D9C0-4FE3-8BF9-0F7A60B55F34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>18EF6E7D-2397-4039-B8F1-996441CFA140</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>select_text</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BDFAE14C-996A-4DFD-A028-7362DD133537</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:last_app_name}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>select_content_type</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>28CB48A4-2F01-4DCA-AB75-0DB8E060AB70</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>v</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>92DBBF42-2912-4E3E-968D-6FB54B9A56EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>18EF6E7D-2397-4039-B8F1-996441CFA140</key>
		<dict>
			<key>xpos</key>
			<integer>635</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>1A86C1E9-D9C0-4FE3-8BF9-0F7A60B55F34</key>
		<dict>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>28CB48A4-2F01-4DCA-AB75-0DB8E060AB70</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>34C74C0B-C29E-464D-A460-C0A44B2F2C8C</key>
		<dict>
			<key>note</key>
			<string>1. 获取当前应用名
2. 将选中文本保存到默认文件
3. 使用 emacs 打开默认文件，编辑，保存
4. 将文件内容输出到剪切板
5. 退出 Emacs，自动跳转到之前所在的应用
6. 粘贴文本替换选中的内容（TODO iTerm2 中不会替换）</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>49147D5C-ECC1-4CCB-AE67-7281BB8AF014</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>92DBBF42-2912-4E3E-968D-6FB54B9A56EF</key>
		<dict>
			<key>xpos</key>
			<integer>875</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>9E2F4533-9018-4BBC-9BEB-AFB8DCF9403C</key>
		<dict>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>B035F1F6-5AE6-4D13-9B49-9480ED18AC19</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>BDFAE14C-996A-4DFD-A028-7362DD133537</key>
		<dict>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>CB238C44-594B-490C-B9DD-E6393374953E</key>
		<dict>
			<key>xpos</key>
			<integer>695</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
