<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>2CBF01AA-5AE1-4430-B1C1-7C5251395E1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E4B3E31-751C-4783-BB08-422F48CF162C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>34C74C0B-C29E-464D-A460-C0A44B2F2C8C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9A7C928-FF22-43A3-8E8C-7A0B2DB13D31</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E2F4533-9018-4BBC-9BEB-AFB8DCF9403C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2CBF01AA-5AE1-4430-B1C1-7C5251395E1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9A7C928-FF22-43A3-8E8C-7A0B2DB13D31</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E2F4533-9018-4BBC-9BEB-AFB8DCF9403C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>快速使用 Emacs 打开选中的文件path</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open file or edit with Emacs quickly</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

IFS="  "

default_file=~/work/emacs_default_buffer.txt

if [[ $(echo -  ${query} | wc -l) == 1 ]]; the
    if [[ (${query:0:1} == "/" || ${query:0:2} == "~/") &amp;&amp; -f $(eval ls $query) ]]; the
        /usr/local/bi /emacsclie t -  -c -s default -a "" $query
        exit 0
    fi
fi
echo -  ${query} &gt; $default_file
/usr/local/bi /emacsclie t -c -s default -a "" $default_file
cat $default_file | pbcopy</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9E2F4533-9018-4BBC-9BEB-AFB8DCF9403C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>31</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>O</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>org.gnu.Emacs</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>34C74C0B-C29E-464D-A460-C0A44B2F2C8C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>⇥</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>0E4B3E31-751C-4783-BB08-422F48CF162C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2CBF01AA-5AE1-4430-B1C1-7C5251395E1B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C9A7C928-FF22-43A3-8E8C-7A0B2DB13D31</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0E4B3E31-751C-4783-BB08-422F48CF162C</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>2CBF01AA-5AE1-4430-B1C1-7C5251395E1B</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>34C74C0B-C29E-464D-A460-C0A44B2F2C8C</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>9E2F4533-9018-4BBC-9BEB-AFB8DCF9403C</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>C9A7C928-FF22-43A3-8E8C-7A0B2DB13D31</key>
		<dict>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
